<a href="https://colab.research.google.com/github/kacp-i/BCU-Work/blob/main/Y2%20S1%20CMP-5367%20Artificial%20Intelligence%20and%20Machine%20Learning/Assesment/AI_dataset_stuff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Library Imports

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import skewnorm
from sklearn.model_selection import train_test_split
from statsmodels.graphics.mosaicplot import mosaic
sns.set_style('whitegrid')
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Importing the dataset

In [ ]:
ds = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/AI report stuff/spotify.csv')

In [ ]:
# alternatice upload method to google drive
# from google.colab import files
# file = files.upload()

#Exploring the dataset

In [ ]:
ds.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%,cover_url
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,B,Major,80,89,83,31,0,8,4,Not Found
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,C#,Major,71,61,74,7,0,10,4,https://i.scdn.co/image/ab67616d0000b2730656d5...
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,F,Major,51,32,53,17,0,31,6,https://i.scdn.co/image/ab67616d0000b273e85259...
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,A,Major,55,58,72,11,0,11,15,https://i.scdn.co/image/ab67616d0000b273e787cf...
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,A,Minor,65,23,80,14,63,11,6,https://i.scdn.co/image/ab67616d0000b273ab5c9c...

In [ ]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    object
 1   artist(s)_name        953 non-null    object
 2   artist_count          953 non-null    int64
 3   released_year         953 non-null    int64
 4   released_month        953 non-null    int64
 5   released_day          953 non-null    int64
 6   in_spotify_playlists  953 non-null    int64
 7   in_spotify_charts     953 non-null    int64
 8   streams               953 non-null    int64
 9   in_apple_playlists    953 non-null    int64
 10  in_apple_charts       953 non-null    int64
 11  in_deezer_playlists   953 non-null    object
 12  in_deezer_charts      953 non-null    int64
 13  in_shazam_charts      903 non-null    object
 14  bpm                   953 non-null    int64
 15  key                   858 non-null    object
 16  mode                  953 non-null    object
 17  danceability_%        953 non-null    int64
 18  valence_%             953 non-null    int64
 19  energy_%              953 non-null    int64
 20  acousticness_%        953 non-null    int64
 21  instrumentalness_%    953 non-null    int64
 22  liveness_%            953 non-null    int64
 23  speechiness_%         953 non-null    int64
 24  cover_url             953 non-null    object
dtypes: int64(18), object(7)
memory usage: 186.3+ KB

In [ ]:
# used to remove commas in cells to treat the value as an int rather than an object
# do I keep this???
ds['in_deezer_playlists'] = ds['in_deezer_playlists'].str.replace(',', '')
ds['in_shazam_charts'] = ds['in_shazam_charts'].str.replace(',', '')

### Describing the columns:

- track_name: Name of the song
- artist(s)_name: Name of the artist(s) performing the song
- artist_count: Number of artists contributing to the song
- released_year, released_month, released_day: Release date details
- in_spotify_playlists: Number of Spotify playlists the song is featured in
- in_spotify_charts: Rank of the song on Spotify charts
- streams: Total number of streams on Spotify
- in_apple_playlists, in_apple_charts: Presence in Apple Music playlists and charts
- in_deezer_playlists, in_deezer_charts: Presence in Deezer playlists and charts
- in_shazam_charts: Rank on Shazam charts
- bpm: Beats per minute, representing the tempo of the song
- key: Key of the song
- mode: Indicates whether the song is in a major or minor mode
- danceability_%: Suitability of the song for dancing
- valence_%: Positivity of the song’s musical content
- energy_%: Perceived energy level of the song
- acousticness_%: Acoustic sound presence in the song
- instrumentalness_%: Proportion of instrumental content in the track
- liveness_%: Presence of live performance elements
- speechiness_%: Amount of spoken words in the song

Dataset taken from:
https://www.kaggle.com/datasets/abdulszz/spotify-most-streamed-songs/data

#Abstracting data

In [ ]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    object
 1   artist(s)_name        953 non-null    object
 2   artist_count          953 non-null    int64
 3   released_year         953 non-null    int64
 4   released_month        953 non-null    int64
 5   released_day          953 non-null    int64
 6   in_spotify_playlists  953 non-null    int64
 7   in_spotify_charts     953 non-null    int64
 8   streams               953 non-null    int64
 9   in_apple_playlists    953 non-null    int64
 10  in_apple_charts       953 non-null    int64
 11  in_deezer_playlists   953 non-null    object
 12  in_deezer_charts      953 non-null    int64
 13  in_shazam_charts      903 non-null    object
 14  bpm                   953 non-null    int64
 15  key                   858 non-null    object
 16  mode                  953 non-null    object
 17  danceability_%        953 non-null    int64
 18  valence_%             953 non-null    int64
 19  energy_%              953 non-null    int64
 20  acousticness_%        953 non-null    int64
 21  instrumentalness_%    953 non-null    int64
 22  liveness_%            953 non-null    int64
 23  speechiness_%         953 non-null    int64
 24  cover_url             953 non-null    object
dtypes: int64(18), object(7)
memory usage: 186.3+ KB

In [ ]:
# dropping useless columns
ds = ds.drop(['in_spotify_playlists','released_day','in_spotify_charts','in_apple_playlists','in_apple_charts','in_deezer_playlists','in_deezer_charts','in_shazam_charts','cover_url','track_name','artist(s)_name'], axis=1)

In [ ]:
ds.isnull().sum()

artist_count           0
released_year          0
released_month         0
streams                0
bpm                    0
key                   95
mode                   0
danceability_%         0
valence_%              0
energy_%               0
acousticness_%         0
instrumentalness_%     0
liveness_%             0
speechiness_%          0
dtype: int64

In [ ]:
ds = ds.dropna()

In [ ]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 858 entries, 0 to 952
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   artist_count        858 non-null    int64
 1   released_year       858 non-null    int64
 2   released_month      858 non-null    int64
 3   streams             858 non-null    int64
 4   bpm                 858 non-null    int64
 5   key                 858 non-null    object
 6   mode                858 non-null    object
 7   danceability_%      858 non-null    int64
 8   valence_%           858 non-null    int64
 9   energy_%            858 non-null    int64
 10  acousticness_%      858 non-null    int64
 11  instrumentalness_%  858 non-null    int64
 12  liveness_%          858 non-null    int64
 13  speechiness_%       858 non-null    int64
dtypes: int64(12), object(2)
memory usage: 100.5+ KB

In [ ]:
ds[['key', 'mode']]

    key   mode
0     B  Major
1    C#  Major
2     F  Major
3     A  Major
4     A  Minor
..   ..    ...
948   A  Major
949  F#  Major
950  C#  Major
951  C#  Major
952   E  Minor

[858 rows x 2 columns]

In [ ]:
# create a label for each encoder
lblKey = LabelEncoder()
lblMode = LabelEncoder()

# turns each non-numerical values of a column into a numerical value
lblKey.fit(ds['key'].drop_duplicates()) # C# = 3; G = 9; G# = 11; F = 10; B = 7; D = 2; A   = 4; F# = 0; E = 8; A# = 6; D# = 1 ; 5 = null
lblMode.fit(ds['mode'].drop_duplicates()) # major = 0, minor = 1

# applyoing the encoding and creates a new column for the encoded values
ds['keyEncoded'] = lblKey.transform(ds['key'])
ds['modeEncoded'] = lblMode.transform(ds['mode'])

In [ ]:
ds['keyEncoded'].value_counts()

keyEncoded
3     120
9      96
10     91
7      89
2      81
4      81
0      75
8      73
6      62
1      57
5      33
Name: count, dtype: int64

In [ ]:
ds['key'].value_counts()

key
C#    120
G      96
G#     91
F      89
B      81
D      81
A      75
F#     73
E      62
A#     57
D#     33
Name: count, dtype: int64

In [ ]:
ds = ds.drop(['key','mode'], axis=1)

In [ ]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 858 entries, 0 to 952
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   artist_count        858 non-null    int64
 1   released_year       858 non-null    int64
 2   released_month      858 non-null    int64
 3   streams             858 non-null    int64
 4   bpm                 858 non-null    int64
 5   danceability_%      858 non-null    int64
 6   valence_%           858 non-null    int64
 7   energy_%            858 non-null    int64
 8   acousticness_%      858 non-null    int64
 9   instrumentalness_%  858 non-null    int64
 10  liveness_%          858 non-null    int64
 11  speechiness_%       858 non-null    int64
 12  keyEncoded          858 non-null    int64
 13  modeEncoded         858 non-null    int64
dtypes: int64(14)
memory usage: 100.5 KB

In [ ]:
# renaming columns to make it easier to work with
ds.rename(columns = {'artist_count' : 'artistCount', 'released_year' : 'releaseYear', 'released_month' : 'releaseMonth', 'bpm' : 'BPM', 'danceability_%' : 'danceability%', 'valence_%' : 'valence%', 'energy_%' : 'energy%', 'acousticness_%' : 'acousticness%', 'instrumentalness_%' : 'instrumentalness%', 'liveness_%' : 'liveness%', 'speechiness_%' : 'speechiness%', 'keyEncoded' : 'key', 'modeEncoded' : 'mode'}, inplace=True)

In [ ]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 858 entries, 0 to 952
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   artistCount        858 non-null    int64
 1   releaseYear        858 non-null    int64
 2   releaseMonth       858 non-null    int64
 3   streams            858 non-null    int64
 4   BPM                858 non-null    int64
 5   danceability%      858 non-null    int64
 6   valence%           858 non-null    int64
 7   energy%            858 non-null    int64
 8   acousticness%      858 non-null    int64
 9   instrumentalness%  858 non-null    int64
 10  liveness%          858 non-null    int64
 11  speechiness%       858 non-null    int64
 12  key                858 non-null    int64
 13  mode               858 non-null    int64
dtypes: int64(14)
memory usage: 100.5 KB

# Training the model

# User input / prediction