In [2]:
# importing libraries used throughout the training & model
import pandas as pd

# libraries used for encoding data for the dataset, training different models and evaluating each model
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer

from sqlalchemy import create_engine

In [7]:
ds = pd.read_csv("S4.csv", encoding='cp1252')
ds

,Zone,Country,ISO3,Year,Population,Fortification,PCDEA,MDI,Tagname,Micronutrient,Units,Estimated Intake,Requirements,Prevalence of Inadequate Intake
0,WCANA,Afghanistan,AFG,1961,8954000.0,0,2997,0.773239,VITC,Vitamin C,mg,0.040922,0.049955,62.746266
1,WCANA,Afghanistan,AFG,1961,8954000.0,0,2997,0.773239,ZN,Zinc,mg,0.001677,0.001770,58.326559
2,WCANA,Afghanistan,AFG,1961,8954000.0,0,2997,0.773239,VITA_RAE,Vitamin A,mcg,0.000275,0.000463,84.225561
3,WCANA,Afghanistan,AFG,1961,8954000.0,0,2997,0.773239,CA,Calcium,mg,0.700043,0.783092,63.814563
4,WCANA,Afghanistan,AFG,1961,8954000.0,0,2997,0.773239,CU,Copper,mcg,0.001979,0.000569,0.090734
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111813,Subsaharan Africa,Zimbabwe,ZWE,2011,13359000.0,0,2196,0.709258,VITA_RAE,Vitamin A,mcg,0.000209,0.000472,95.388542
111814,Subsaharan Africa,Zimbabwe,ZWE,2011,13359000.0,0,2196,0.709258,VITB12,Vitamin B12,mcg,0.000001,0.000002,33.580498
111815,Subsaharan Africa,Zimbabwe,ZWE,2011,13359000.0,0,2196,0.709258,VITB6A,Vitamin B6,mg,0.001168,0.000936,16.055914
111816,Subsaharan Africa,Zimbabwe,ZWE,2011,13359000.0,0,2196,0.709258,VITC,Vitamin C,mg,0.033915,0.051271,81.059120
111817,Subsaharan Africa,Zimbabwe,ZWE,2011,13359000.0,0,2196,0.709258,ZN,Zinc,mg,0.001359,0.001810,84.063915

In [8]:
# showing the dataset information
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111818 entries, 0 to 111817
Data columns (total 14 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Zone                             111818 non-null  object
 1   Country                          111818 non-null  object
 2   ISO3                             111818 non-null  object
 3   Year                             111818 non-null  int64
 4   Population                       111818 non-null  float64
 5   Fortification                    111818 non-null  int64
 6   PCDEA                            111818 non-null  int64
 7   MDI                              111818 non-null  float64
 8   Tagname                          111818 non-null  object
 9   Micronutrient                    111818 non-null  object
 10  Units                            111818 non-null  object
 11  Estimated Intake                 111818 non-null  float64
 12  Requirements                     111818 non-null  float64
 13  Prevalence of Inadequate Intake  111818 non-null  float64
dtypes: float64(5), int64(3), object(6)
memory usage: 11.9+ MB

In [9]:
# dropping useless columns
ds = ds.drop(['Zone','ISO3','Fortification','Tagname'], axis=1)

In [10]:
# checking for null values across the dataset
ds.isnull().sum()

Country                            0
Year                               0
Population                         0
PCDEA                              0
MDI                                0
Micronutrient                      0
Units                              0
Estimated Intake                   0
Requirements                       0
Prevalence of Inadequate Intake    0
dtype: int64

In [11]:
# describing the dataset pre-encoding (only shows numerical columns)
ds.describe()

,Year,Population,PCDEA,MDI,Estimated Intake,Requirements,Prevalence of Inadequate Intake
count,111818.000000,1.118180e+05,111818.000000,111818.000000,1.118180e+05,111818.000000,111818.000000
mean,1987.357957,3.213830e+07,2554.610617,0.876117,1.850885e-01,0.126062,22.594240
std,15.056880,1.168775e+08,519.696366,0.080869,3.841114e-01,0.253932,29.927245
min,1961.000000,3.400000e+04,1306.000000,0.589982,2.840000e-07,0.000002,0.000000
25%,1974.000000,1.874000e+06,2145.000000,0.822961,9.352988e-04,0.000586,0.220511
50%,1988.000000,6.638000e+06,2491.000000,0.883027,2.255188e-03,0.001400,6.186188
75%,2001.000000,2.049600e+07,2965.000000,0.949317,9.530613e-02,0.051874,38.036844
max,2011.000000,1.399292e+09,3829.000000,1.000000,2.488589e+00,0.902559,99.999523

In [12]:
# checking the values and their amounts in the column
ds['Country'].value_counts()

Country
Afghanistan       728
Niger             728
Mozambique        728
Mauritania        728
Mauritius         728
                 ...
Turkmenistan      294
Slovakia          280
Czech Republic    280
Belgium           182
Luxembourg        182
Name: count, Length: 170, dtype: int64

In [13]:
# creating a variable for the encoder
lblMake = LabelEncoder()

# grab each unique variable from the column and turn it into its numerical version
lblMake.fit(ds['Country'].drop_duplicates())

# create a new column and apply the encoding values
ds['countryEncoded'] = lblMake.transform(ds['Country'])

In [14]:
# checking which numerical value corresponds to the non-numerical value
ds[['Country', 'countryEncoded']].value_counts()

Country         countryEncoded
Afghanistan     0                 728
Nigeria         111               728
Namibia         104               728
Nepal           105               728
Netherlands     106               728
                                 ...
Latvia          83                294
Czech Republic  37                280
Slovakia        134               280
Luxembourg      88                182
Belgium         14                182
Name: count, Length: 170, dtype: int64

In [15]:
# dropping the old column from the dataset as it is unnecessary
ds = ds.drop('Country', axis=1)

In [16]:
# checking the values and their amounts in the column
ds['Micronutrient'].value_counts()

Micronutrient
Vitamin C      7987
Zinc           7987
Vitamin A      7987
Calcium        7987
Copper         7987
Riboflavin     7987
Phosphorus     7987
Vitamin B6     7987
Vitamin B12    7987
Iron           7987
Folate         7987
Thiamin        7987
Niacin         7987
Magnesium      7987
Name: count, dtype: int64

In [17]:
# creating a variable for the encoder
lblMake = LabelEncoder()

# grab each unique variable from the column and turn it into its numerical version
lblMake.fit(ds['Micronutrient'].drop_duplicates())

# create a new column and apply the encoding values
ds['micronutrientEncoded'] = lblMake.transform(ds['Micronutrient'])

In [18]:
# checking which numerical value corresponds to the non-numerical value
ds[['Micronutrient', 'micronutrientEncoded']].value_counts()

Micronutrient  micronutrientEncoded
Calcium        0                       7987
Copper         1                       7987
Folate         2                       7987
Iron           3                       7987
Magnesium      4                       7987
Niacin         5                       7987
Phosphorus     6                       7987
Riboflavin     7                       7987
Thiamin        8                       7987
Vitamin A      9                       7987
Vitamin B12    10                      7987
Vitamin B6     11                      7987
Vitamin C      12                      7987
Zinc           13                      7987
Name: count, dtype: int64

In [19]:
# dropping the old column from the dataset as it is unnecessary
ds = ds.drop('Micronutrient', axis=1)

In [20]:
# checking the values and their amounts in the column
ds['Units'].value_counts()

Units
mg     79870
mcg    31948
Name: count, dtype: int64

In [21]:
# creating a variable for the encoder
lblMake = LabelEncoder()

# grab each unique variable from the column and turn it into its numerical version
lblMake.fit(ds['Units'].drop_duplicates())

# create a new column and apply the encoding values
ds['unitsEncoded'] = lblMake.transform(ds['Units'])

In [22]:
# checking which numerical value corresponds to the non-numerical value
ds[['Units', 'unitsEncoded']].value_counts()

Units  unitsEncoded
mg     1               79870
mcg    0               31948
Name: count, dtype: int64

In [23]:
# dropping the old column from the dataset as it is unnecessary
ds = ds.drop('Units', axis=1)

In [24]:
# checking each columns datatype
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111818 entries, 0 to 111817
Data columns (total 10 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Year                             111818 non-null  int64
 1   Population                       111818 non-null  float64
 2   PCDEA                            111818 non-null  int64
 3   MDI                              111818 non-null  float64
 4   Estimated Intake                 111818 non-null  float64
 5   Requirements                     111818 non-null  float64
 6   Prevalence of Inadequate Intake  111818 non-null  float64
 7   countryEncoded                   111818 non-null  int64
 8   micronutrientEncoded             111818 non-null  int64
 9   unitsEncoded                     111818 non-null  int64
dtypes: float64(5), int64(5)
memory usage: 8.5 MB

In [25]:
# describing the dataset
ds.describe()

,Year,Population,PCDEA,MDI,Estimated Intake,Requirements,Prevalence of Inadequate Intake,countryEncoded,micronutrientEncoded,unitsEncoded
count,111818.000000,1.118180e+05,111818.000000,111818.000000,1.118180e+05,111818.000000,111818.000000,111818.000000,111818.000000,111818.000000
mean,1987.357957,3.213830e+07,2554.610617,0.876117,1.850885e-01,0.126062,22.594240,84.364092,6.500000,0.714286
std,15.056880,1.168775e+08,519.696366,0.080869,3.841114e-01,0.253932,29.927245,48.758288,4.031147,0.451756
min,1961.000000,3.400000e+04,1306.000000,0.589982,2.840000e-07,0.000002,0.000000,0.000000,0.000000,0.000000
25%,1974.000000,1.874000e+06,2145.000000,0.822961,9.352988e-04,0.000586,0.220511,43.000000,3.000000,0.000000
50%,1988.000000,6.638000e+06,2491.000000,0.883027,2.255188e-03,0.001400,6.186188,84.000000,6.500000,1.000000
75%,2001.000000,2.049600e+07,2965.000000,0.949317,9.530613e-02,0.051874,38.036844,126.000000,10.000000,1.000000
max,2011.000000,1.399292e+09,3829.000000,1.000000,2.488589e+00,0.902559,99.999523,169.000000,13.000000,1.000000

In [26]:
# renaming columns to make it more meaningful
ds.rename(columns = {'Year' : 'year',
                     'Population' : 'popu',
                     'Estimated Intake' : 'est intake',
                     'Requirements' : 'req',
                     'Prevalence of Inadequate Intake' : 'prev inadeq intake',
                     'countryEncoded' : 'cntry',
                     'micronutrientEncoded' : 'micro',
                     'unitsEncoded' : 'units'},
          inplace = True)

In [27]:
# checking if changes have been applied
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111818 entries, 0 to 111817
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   year                111818 non-null  int64
 1   popu                111818 non-null  float64
 2   PCDEA               111818 non-null  int64
 3   MDI                 111818 non-null  float64
 4   est intake          111818 non-null  float64
 5   req                 111818 non-null  float64
 6   prev inadeq intake  111818 non-null  float64
 7   cntry               111818 non-null  int64
 8   micro               111818 non-null  int64
 9   units               111818 non-null  int64
dtypes: float64(5), int64(5)
memory usage: 8.5 MB

In [40]:
eng_conn = create_engine("mysql+pymysql://student:Pa55W0rd123#@localhost:3306/Micronutrient")

In [41]:
ds.to_sql("Micronutrient", con=eng_conn, if_exists="replace")

111818

In [42]:
ds_tmp = pd.read_sql("Micronutrient", con=eng_conn)
ds_tmp

,year,popu,PCDEA,MDI,est intake,req,prev inadeq intake,cntry,micro,units
0,1961,8954000.0,2997,0.773239,0.040922,0.049955,62.746266,0,12,1
1,1961,8954000.0,2997,0.773239,0.001677,0.001770,58.326559,0,13,1
2,1961,8954000.0,2997,0.773239,0.000275,0.000463,84.225561,0,9,0
3,1961,8954000.0,2997,0.773239,0.700043,0.783092,63.814563,0,0,1
4,1961,8954000.0,2997,0.773239,0.001979,0.000569,0.090734,0,1,0
...,...,...,...,...,...,...,...,...,...,...
111813,2011,13359000.0,2196,0.709258,0.000209,0.000472,95.388542,169,9,0
111814,2011,13359000.0,2196,0.709258,0.000001,0.000002,33.580498,169,10,0
111815,2011,13359000.0,2196,0.709258,0.001168,0.000936,16.055914,169,11,1
111816,2011,13359000.0,2196,0.709258,0.033915,0.051271,81.059120,169,12,1
111817,2011,13359000.0,2196,0.709258,0.001359,0.001810,84.063915,169,13,1